.home-title {
    font-family: 'Figtree';
    font-weight: 800;
    font-size: 4rem;
    margin: 0;
    flex-shrink: 0;
    display: inline-block;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: -15vh;
}

.whyprebuilt-container {
    background-color: rgb(25, 36, 94);
    height: 35vh;
    justify-content: start;
    display: inline-grid;
    padding-top: 2vh;
    width: 100vw;
}

#whyprebuiltdesc {
    padding-left: 2rem;
}